<div class="container text-center py-2">
  <a (click)="print('print')" target="_blank">
    <button
      class="text-green-700 border border-green-900 hover:bg-green-700 hover:text-white active:bg-green-600 font-bold uppercase px-8 py-3 rounded-full outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
      type="button"
    >
      <i class="fas fa-print"></i> Print
    </button>
  </a>
</div>
<div id="print">
<h2>Hello Everyone</h2>
<h2>Hello Everyone</h2>
<h2>Hello Everyone</h2>
<h2>Hello Everyone</h2>
<h2>Hello Everyone</h2>
</div>
