<div class="container text-center py-2">
  <a (click)="print('print')" target="_blank">
    <button
      class="text-green-700 border border-green-900 hover:bg-green-700 hover:text-white active:bg-green-600 font-bold uppercase px-8 py-3 rounded-full outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
      type="button"
    >
      <i class="fas fa-print"></i> Print
    </button>
  </a>
</div>
<div id="print" style="width: 100%; margin: 16px auto; max-width: 900px; border: 1px solid lightgray; ">
  <div style="padding: 100px;">
    <div style="display: flex; justify-content: space-around; align-items: center;">
      <div>
        <img src="../../assets/images/solicitud.png" width="250px" alt="">
      </div>
      <div style="text-align: center; max-width: 380px;">
        <div style="font-size: 18px;">Tu Dinero SAPI de CV SOFOM ENR</div>
        <div>RFC TDI110316N52</div>
        <div style="font-size: 14px;">calle la Ceiba, Numero 410, Local B-11, Colonia Primero de Mayo, C.P. 86190 Villahermosa, Tabasco,</div>
      </div>
    </div>

    <div style="margin: 50px 0; display: flex; justify-content: right; font-weight: bold;">
      <div style="display: flex;">
        <div style="margin-right: 8px;">Villahermosa, Tabasco a </div>
        <input class="my-input" type="text" style="border: none; border-bottom: 1px solid black; width: 40px; " />
        <div>de</div>
        <input class="my-input" type="text" style="border: none; border-bottom: 1px solid black; " />
        <div>del</div>
        <input class="my-input" type="text" style="border: none; border-bottom: 1px solid black; width: 80px; " />
      </div>
    </div>

    <div>
      <h3 style="font-weight:800; padding-bottom: 8px">A Quien Corresponda: </h3>
      <p style="font-size: 17px;">
        Manifiesto Bajo Protesta de Decir Verdad, que he llevado a  efectos el trámite relativ a
        <input type="text" style="border: none; text-align: center; font-size: 17px;" />
        la  autorización  de  crédito a  descontar
        <input type="text" style="border: none; border-bottom: 1px solid black; text-align: center; width: 60px; font-size: 17px;" />
        vía
        <input type="text" style="border: none; border-bottom: 1px solid black; text-align: center; font-size: 17px;" />
        nómina  a  nombre
        <input type="text" style="border: none; border-bottom: 1px solid black; text-align: center; font-size: 17px; width: 80px;" />
        del
        <input type="text" style="border: none; border-bottom: 1px solid black; text-align: center; font-size: 17px; width: 350px; font-weight: bold;" />
        quien es trabajador del H. Ayuntamiento
        <input type="text" style="border: none; text-align: center; font-size: 17px; width: 80px;" />
        del Municipio de  Centro,  con  la  empresa :  Tu Dinero SAPI de CV SOFOM ENR, a la cual represento.
      </p>
      <br/>
      <p style="font-size: 17px;">Lo que comunico a usted, para los efectos administrativos correspondientes</p>
      <br/><br/>
      <p style="font-size: 16px; font-weight: lighter; text-align: center;">ALONSO AGUILAR OLÁN</p>
      <p style="font-size: 18px; font-weight: bold; text-align: center;">Nombre y Firma del Promotor</p>

    </div>
  </div>
</div>
